<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body class="w-full h-screen grid place-items-center">
    <div id="app">
      <section v-show="todo?.length">
        <h1 class="font-bold">Todo</h1>
        <ul>
          <li v-for="assigment in todo" :key="assigment.id">
            <label>
              <span>{{assigment.name}}</span>
              <input type="checkbox" v-model="assigment.complete" />
            </label>
          </li>
        </ul>
      </section>
      <section class="mt-5" v-show="completed?.length">
        <h1 class="font-bold">Completed</h1>
        <ul>
          <li v-for="assigment in completed" :key="assigment.id">
            <label>
              <span>{{assigment.name}}</span>
              <input type="checkbox" v-model="assigment.complete" />
            </label>
          </li>
        </ul>
      </section>
    </div>
    <script>
      let app = {
        data() {
          return {
            assigments: [
              {
                id: 1,
                name: 'eat',
                complete: false,
              },
              {
                id: 2,
                name: 'sleep',
                complete: false,
              },
              {
                id: 3,
                name: 'work',
                complete: false,
              },
            ],
          };
        },

        computed: {
          todo() {
            return this.assigments.filter((item) => !item.complete);
          },
          completed() {
            return this.assigments.filter((item) => item.complete);
          },
        },
      };
      Vue.createApp(app).mount('#app');
    </script>
  </body>
</html>
